<%- include("partials/header") %>

<main>
    <div class="layout-padding">
        <h1 class="header-margin-top header-font-size"><%= title %></h1>

        <p class="description-font-size gray-text">Upcoming Service Projects</p>
        <ul class="project-cards">
            <% projects.forEach(project => { %>
                <li class="project-card">
                    <span><%=
                         project.date.toLocaleDateString('en-US', {
                            month: 'short',
                            day: 'numeric',
                            year: 'numeric'
                         }) 
                    %></span>
                    <div>
                        <span><%= project.title %></span>
                        <span>(<%= project.name %>)</span>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>

</main>

<%- include("partials/footer") %>